@media screen and (min-width: 768px) {
  /********************************************
  ** Form
  ********************************************/
  h1,
  .main-nav {
    display: inline-block;
  }

  h1 {
    margin-left: 10px;
    font-size: 2.2rem;
  }

  .main-nav {
    float: right;
    margin-top: 13px;
  }

  .main-nav li + li {
    margin-left: 20px;
  }

  .main-nav li:last-child {
    margin-right: 10px;
  }




  /********************************************
  ** Form
  ********************************************/
  #create-calendar  form{
    text-align: left;
  }

  #create-calendar .formgroup {
    width: 32%;
    float: left;
  }

  #create-calendar .formgroup + .formgroup {
    margin-left: 2%;
  }

}
